---
layout: default
title: Journal
---

{% assign journals = site.posts | where_exp: "post", "post.categories contains 'journal'" | sort: "date" | reverse %}
{% assign latest = journals | first %}

<header class="post-header">
<h1 class="post-heading">{{ latest.title }}</h1>
</header>

<div class="page-content"> {{ latest.content }} </div>

<h2 class="now-list-title"> Previous Updates </h2>

<ul>
{% for post in journals %}
  {% if post.url != latest.url %}
  <li>
    <a href="{{ post.url | relative_url }}" class="archive-link">
      <span class="archive-title">{% unless post.title == "" %}{{ post.title }}{% endunless %}</span>
    </a>
  </li>
  {% endif %}
{% endfor %}
</ul>

