<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  {% feed_meta %}
</head>
<body>
<header>
  <div class="baslik">
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
  </div>
  <p class="motto">an unmade bed of a man</p>
</header>
<main>
  {{ content }}
</main>
 <script data-goatcounter="https://minik.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script> 
</body>
</html>
