---
layout: default
title: Ana Sayfa
---

    <header>
        <h1>{{ site.title }}</h1>
    </header>

    <section class="post-list">
        {% for post in site.posts %}
            {% unless post.category == 'pages' %}
                <a href="{{ post.url | relative_url }}" class="post-item">
                    <span class="post-week">Y{{ post.date | date: "%y" }}</span>
                    <span class="post-title">{{ post.title }}</span>
                </a>
            {% endunless %}
        {% endfor %}
    </section>
