---
layout: default
---

    <header>
        <h1>{{ page.title }}</h1>
    </header>

    <article class="post-content inline-date">
    {{ content }}
    <span class="post-footer-date">-{{ page.date | date: "%B" }} '{{ page.date | date: "%y" }}-</span>
</article>

<style>
    /* Son paragrafı satır içi elemana çevirip tarihin yukarı gelmesini sağlar */
    .inline-date p:last-of-type {
        display: inline;
    }
    /* Tarih ile son kelime arasında uygun boşluğu bırakır */
    .post-footer-date {
        margin-left: 6px;
        display: inline;
    }
</style>


<nav class="back-nav">
    <div class="back-link-container">
        <a href="{{ '/' | relative_url }}" class="back-link">
            <span class="back-arrow">←</span> 
        </a>
    </div>
</nav>

