---
layout: default
---

    <header>
        <h1>{{ page.title }}</h1>
    </header>

    <article class="post-content">
    {{ content }}
    <p class="post-custom-date">{{ page.date | date: "%b %d, %Y" }}</p>
    </article>


<nav class="back-nav">
    <div class="back-link-container">
        {% if page.categories contains "pages" %}
            <a href="{{ 'pages' | post_url | relative_url }}" class="back-link">
        {% else %}
            <a href="{{ '/' | relative_url }}" class="back-link">
        {% endif %}
                <span class="back-arrow">←</span> 
            </a>
    </div>
</nav>

