---
layout: default
---



<header class="post-header{% if page.categories contains 'journal' %} journal-header{% endif %}">

<span class="post-date">
  {{ page.date | date: "%d %b %Y" }}
</span>

{% unless page.categories contains "journal" %}
<h2 class="post-heading">{{ page.title }}</h2>
{% endunless %}

</header>
 
<article class="post-content post-only">
   {{ content }}
   
   {% if page.categories or page.tags %}
  <div class="post-meta post-only">

   {% if page.categories and page.categories.size > 0 %}
      {% for category in page.categories %}
        <div class="post-categories">
          <a href="/category/{{ category | slugify }}/" class="post-category-link">
            {{ category }}
          </a>
        </div>
      {% endfor %}
    {% endif %}

    {% if page.tags and page.tags.size > 0 %}
      {% for tag in page.tags %}
        <div class="post-tags">
          <a href="/tag/{{ tag | slugify }}/" class="post-tag">
            #{{ tag }}
          </a>
        </div>
      {% endfor %}
    {% endif %}

  </div>
{% endif %}

</article>

<a href="/">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
    <polyline points="9 22 9 12 15 12 15 22"/>
  </svg>
</a>

<nav class="post-navigation">

<div class="nav-left">
  <p class="label">Previous</p>
  {% if page.previous %}
    <a class="prev-post" href="{{ page.previous.url }}"> {{ page.previous.title }}</a>
  {% endif %}
</div>


  
</nav>
